<div id="canvas">
  <h1>mxb.fm</h1>
  <h2>track list</h2>
  <div id="soundlist"></div>

  <h2>mixboard</h2>
  <a id="octopus-record" class="button">Record</a>
  <div id="mixboard"></div>
</div> <!-- end #canvas -->

<script type="text/javascript">
  var SOUND_DATA = {
    "s0001": [{
        "id":   "s0001",
        "name": "Buried",
        "url":  "/tracks/buried.mp3"
    }],
    "s0002": [{
        "id":   "s0002",
        "name": "Little White Doves (All Hazards Remix)",
        "url":  "/tracks/little_doves.mp3"
    }]
  }
</script>

<script type="text/javascript">
  var DEBUG = <%= (PADRINO_ENV == "development") %>;
  main(); // defined in mixboard-app.js
</script>
