<div id="canvas">
  <h1>mxb.fm</h1>
  <h2>sound list</h2>
  <div id="soundlist"></div>
  <h2>mixboard</h2>
  <!-- <a id="octopus-play" class="button">Play</a>
  <a id="octopus-pause" class="button">Pause</a> -->
  <div id="mainlist"></div>

  

</div> <!-- end #canvas -->